n8n/workflows/registration_router.json
{
  "name": "Registration Router",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        260
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM driver_state WHERE phone = {{$json.phone}} LIMIT 1;"
      },
      "id": "2",
      "name": "Load Registration State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        500,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map((item) => ({ json: { registration: item.json } }));"
      },
      "id": "3",
      "name": "Prepare Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        260
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Load Registration State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Registration State": {
      "main": [
        [
          {
            "node": "Prepare Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "sd-family-taxi-migration-layer"
  }
}
